body {
	background-color: #E7E7E7;
	color: #777;
	margin: 30px auto 0 auto;
	width: 1000px;
	padding: 30px;
	font-family: Georgia;
}

a {
	color: #777;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	border-bottom: solid 1px #CCC;
}

#logo {
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 300px;
	cursor: default;
}

#logoSmall {
	background-image: url('img/logoSmall.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
	cursor: default;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	padding-top: 5px;
}
#loginBox, #appBox {
	border: 1px solid #CCC;
	background-color: #fff;
	padding: 10px;
}

.loginInput {
	font-size: 1.5em;
}

input[type=text], input[type=password], textarea {
	border: solid 1px #CCC;
	border-radius: 5px;
	outline: none; /* Voor effect van OS X uit te schakelen */
	padding: 3px;
	resize: none; /* Veld kan niet vergroot worden */
}

.error {
	color: red;
}

#loggedInAs {
	float: right;
	text-align: right;
	margin-top: 50px;
}

#clear {
	clear: both;
}

#selectieLeerkrachten {
	list-style-type: none;
	width: 400px;
	margin: 0 auto 50px auto;
}

#selectieLeerkrachten li {
	display: block;
	padding: 5px;
	font-size: 1.2em;
	margin-top: 10px;
	border: solid 1px #CECECE;
	width: 400px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#selectieLeerkrachten li:hover {
	background-color: #CECECE;
	border: solid 1px #777;
}

#selectieLeerkrachten a {
	text-decoration: none;
}

th {
	background-color: #CCC;
	cursor:default;
}

table tr:nth-child(even) {
	background-color: #EBEBEB;
}

.noSelect {
	/* Zorgt ervoor dat elementen niet selecteerbaar zijn.
	Cross-browser! */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#shade {
	background-color: #000;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0.5;
	display: none;
	z-index: 4; /* Boven body en onder #overlay */
}

#overlay {
	padding: 20px;
	position: absolute;
	top: 20%;
	left: 25%;
	right: 25%;
	background-color: white;
	display: none;
	z-index: 6;
}

#helpPsswd{
	color:red;
	display:none;
}