body {
	background-color: #E7E7E7;
	color: #777;
	margin: 0 auto 0 auto;
	width: 1000px;
	padding: 30px;
	font-family: Georgia;
}

a {
	color: #777;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	border-bottom: solid 1px #CCC;
}

#logo {
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 300px;
	cursor: default;
}

#logoSmall {
	background-image: url('img/logoSmall.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
	cursor: default;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	padding-top: 5px;
}
#loginBox, #appBox {
	border: 1px solid #CCC;
	background-color: #fff;
	padding: 10px;
}

.loginInput {
	font-size: 1.5em;
}

input[type=text], input[type=password], textarea, input[type=date], input[type=number] {
	border: solid 1px #CCC;
	border-radius: 5px;
	outline: none; /* Voor effect van OS X uit te schakelen */
	padding: 3px;
	resize: none; /* Veld kan niet vergroot worden */
}

.error {
	color: red;
}

#loggedInAs {
	float: right;
	text-align: right;
	margin-top: 50px;
}

#clear {
	clear: both;
}

.selectieMenu {
	list-style-type: none;
	width: 400px;
}

.selectieMenu ul {
	margin:0;
	padding:0;
}
.selectieMenu li {
	display: block;
	padding: 5px;
	font-size: 1.2em;
	margin-top: 10px;
	border: solid 1px #CECECE;
	height: 30px;
	line-height: 30px;
	text-align: center;

}

.selectieMenu li:hover {
	background-color: #CECECE;
	border: solid 1px #777;
}

.selectieMenu a {
	text-decoration: none;
}

th {
	background-color: #CCC;
	cursor:default;
}

table tr:nth-child(even) {
	background-color: #EBEBEB;
}

table tr:hover{
	background-color: #98B1C4;
	color: #000;
}

.noSelect {
	/* Zorgt ervoor dat elementen niet selecteerbaar zijn.
	Cross-browser! */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#shade {
	background-color: #000;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0.5;
	display: none;
	z-index: 4; /* Boven body en onder #overlay */
}

#overlay {
	padding: 20px;
	position: absolute;
	top: 10%;
	overflow:scroll;
	bottom: 10%;
	left: 25%;
	right: 25%;
	background-color: white;
	display: none;
	z-index: 6;
}

#helpPsswd{
	color:red;
	display:none;
}

label{
	width: 150px;
	display:block;
	float:left;
}

img{
	border:0;
}

#geselecteerdSoft{
	float:right;
	border-left: solid 1px #CCC;
	padding-left: 10px;
	width: 300px;
	font-size:0.8em;
}

/* **************************************************
		STIJL VOOR KALENDER
   ************************************************** */
.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:250px;
	padding: 0 5px;
	z-index:8;
}
.calendar-box select.calendar-month {
	width:90px;
}
.calendar-box select.calendar-year {
	width:70px;
}
.calendar-box .calendar-cancel {
	width:100%;
}
.calendar-box table td {
	width:14%;
}

.calendar-box table tr:nth-child(even), .calendar-box table tr:nth-child(odd) {
	background-color: white;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
	text-decoration:none;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	font-weight:bold;
}
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#CCC;
}

/* **************************************************
		STIJL VOOR WAARSCHUWING BOXES
   ************************************************** */
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('img/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('img/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('img/error.png');
}